// Variable overrides
$body-bg: #F1F5F7;
$theme-colors: (
  "primary": #3848CA,
  "danger": #ff4136,
);

$sidebar-dark-nav-link-hover-color:       #F1F5F7 !default;
$sidebar-dark-nav-link-hover-bg:          #303645 !default;
$sidebar-dark-nav-link-hover-icon-color:  #F1F5F7 !default;





